@color: #a4fc0d;
@bg-100: #000;
@bg-90: darken(@color, 90%);
@bg-80: darken(@color, 80%);
@bg-70: darken(@color, 70%);
@bg-60: darken(@color, 60%);
@bg-50: darken(@color, 50%);
@bg-40: darken(@color, 40%);
@bg-30: darken(@color, 30%);
@bg-20: darken(@color, 20%);
@bg-10: darken(@color, 10%);
@bg-00: @color;
@fg-00: @color;
@bg-10: lighten(@color, 10%);
@fg-20: lighten(@color, 20%);
@fg-30: lighten(@color, 30%);
@fg-40: lighten(@color, 40%);
@fg-50: lighten(@color, 50%);
@fg-60: lighten(@color, 60%);
@fg-70: lighten(@color, 70%);
@fg-80: lighten(@color, 80%);
@fg-90: lighten(@color, 90%);
@fg-100: contrast(@color);

* {
  font-family: 'Inconsolata', monospace;
}

body {
  margin: 0;
  padding: 64px 32px;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  background-color: @bg-50;
  color: @fg-100;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(/assets/bg.png);
  background-size: cover;
  background-position: center;
  z-index: 2;
  opacity: 0.5;
}

div {
  width: 100%;
  height: max-content;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}
a {
  font-weight: 700;
  color: @fg-00;
}

div#scrim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: @bg-80;
  z-index: 9;

  & div#contactingScreen {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: calc(100% - 128px);
    height: 200px;
    max-width: 800px;
    padding: 32px;
    background-color: @bg-30;
    color: @fg-30;
    text-align: center;
    display: flex;
    flex-direction: column;
	  justify-content: center;
	  align-items: center;
    gap: 16px;
    border: 1px solid @fg-30;
    & .header {
      font-size: 32px;
      font-weight: 700;
    }
  }
}

div.body {
  margin: 0 auto;
  min-height: 100%;
  max-width: 800px;
  background-color: @bg-40;
  color: @fg-40;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  gap: 32px;
  padding: 32px;
  z-index: 5;
  position: relative;

  & div.header {
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-template-rows: 64px max-content;
    grid-column-gap: 32px;
    grid-row-gap: 0;
    padding: 32px;
    background-color: @bg-30;
    color: @fg-30;
    white-space: pre-wrap;
    border: 1px solid @fg-30;
    & > * {
      padding: 0;
      &.pfp {
        grid-row: 1 / 4;
        height: 128px;
        width: 128px;
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        object-fit: contain;
        border: 1px solid @fg-30;
      }
      &.media {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        padding: 0 50px;
        box-sizing: border-box;
        gap: 16px;
        & img {
          color: @fg-30;
        }
      }
      &.description {
        margin: 16px 0;
      }
      &.smallinfo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        gap: 16px;
      }
      &.header {
        font-size: 32px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 32px;
        &::before, &::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: @fg-30;
        }
      }
    }
  }

  & div.mspfastory {
    display: grid;
    grid-template-columns: 128px auto;
    grid-template-rows: auto max-content max-content;
    grid-column-gap: 32px;
    grid-row-gap: 16px;
    padding: 32px;
    text-align: center;

    &.singlerow {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto max-content max-content;
      grid-column-gap: 32px;
      grid-row-gap: 16px;
      padding: 32px;
      text-align: center;
    }

    & img.icon {
      grid-row: 1 / 5;
      height: 128px;
      width: 128px;
      aspect-ratio: 1 / 1;
      border-radius: 8px;
      object-fit: contain;
      border: 1px solid @fg-30;
    }
    & div.smallinfo {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: stretch;
      gap: 16px;
      text-align: center;
    }
    & div.desc {
      white-space: pre-wrap;
    }
    & div.title {
      font-size: 32px;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 32px;
      text-align: center;
      // &::after {
      //   content: "";
      //   width: 100%;
      //   height: 2px;
      //   background-color: @fg-30;
      // }
    }
  }

  & div.paragraph {
    width: 100%;
    padding: 0 16px;
    white-space: pre-line;

    &.indent2 {
      padding-left: 32px;
    }
  }
  & div.liteheader {
    width: 100%;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 32px;
    box-sizing: border-box;
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: @fg-40;
    }

    &.indent1, &.indent2 {
      font-size: 24px;
      padding-left: 16px;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: @fg-40;
      }
    }
    &.indent2 {
      padding-left: 32px;
    }
  }
  & name {
    font-weight: 700;
  }
  & div.imagegrouper {
    width: 100%;
    max-height: 400px;
    display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-evenly;
	  align-items: center;
	  align-content: center;
    gap: 16px;
    & img {
      max-height: 400px;
      border-radius: 8px;
      flex-shrink: 1;
      &.port {
        aspect-ratio: 9 / 16;
      }
      &.land {
        aspect-ratio: 9 / 16;
      }
    }
    &.images2 img {
      max-width: 50%;
    }
    &.images3 img {
      max-width: 33%;
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
  }

  div.header {
    margin-left: -32px;
    width: calc(100% + 64px);
    border-radius: 0;
    border-left: none !important;
    border-right: none !important;
    padding: 32px 16px !important;
  }
}