.ClockWidget {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.ClockWidget .vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ClockWidget .vertical #time {
  font-size: 24px;
  font-weight: 700;
}

.ClockWidget .nameandicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
