.DescriptionArea {
  max-width: 100%;
  height: max-content;
  padding: 8px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}

.DescriptionArea * {
  margin: 0;
  padding: 0;
}

.DescriptionArea ul {
  margin-left: 16px;
}

.DescriptionArea b,
.DescriptionArea strong {
  font-weight: 100;
}

.DescriptionArea li b,
.DescriptionArea li strong,
.DescriptionArea p b,
.DescriptionArea p strong,
.DescriptionArea span b,
.DescriptionArea span strong {
  font-weight: bold;
}

.DescriptionArea h1 {
  font-size: 32px;
  line-height: 32px;
}

.DescriptionArea h2 {
  margin-top: 0;
  font-size: 28px;
  line-height: 28px;
}

.DescriptionArea h3 {
  font-size: 24px;
  line-height: 24px;
}

.DescriptionArea h4 {
  font-size: 20px;
  line-height: 20px;
}

.DescriptionArea h5 {
  font-size: 18px;
  line-height: 18px;
}

.DescriptionArea h6 {
  font-size: 16px;
  line-height: 16px;
}

.DescriptionArea p {
  font-size: 16px;
  line-height: 20px;
}

.DescriptionArea img {
  height: 32px;
  vertical-align: middle;
}
