.FunFactRandom {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.FunFactRandom p {
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
}

.ButtonHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.Header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  gap: 8px;
  width: 100%;
}

@media (max-width: 732px) {
  .Header {
    grid-template-columns: 1fr auto max-content;
  }
}
