.Gallery {
  width: calc(100% + 256px);
  min-height: 50vh;
  overflow: auto hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 16px;
  margin-top: 8px;
  gap: 16px;
  user-select: none;
}

.Gallery div.imageThingy {
  position: relative;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 4px;
  transition: filter 0.125s;
  overflow: hidden;
}

.Gallery .imageThingy img {
  position: absolute;
  display: block;
  height: 100%;
  user-select: none;
  transition: filter 0.125s;
  border-radius: 4px;
}

.Gallery .imageThingy img.cw {
  filter: blur(8px);
}

.Gallery .imageThingy span.cw {
  position: absolute;
  text-align: center;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f00;
  transition: background-color 0.125s, text-shadow 0.125s;
}

.Gallery .imageThingy:hover {
  filter: brightness(80%);
}

.Gallery .imageThingy:hover img.cw {
  filter: blur(6px);
}

.Gallery .imageThingy:hover span.cw {
  background-color: #f008;
}

.Gallery .imageThingy:active {
  /* transition: none; */
  filter: brightness(50%);
}

.Gallery .imageThingy:active img.cw {
  filter: blur(0px);
}

.Gallery .imageThingy:active span.cw {
  background-color: #f000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
/* --- */

.GalleryPreview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.GalleryPreview img {
  position: relative;
  top: 0;
  max-height: 75vh;
  max-width: 100vw;
  object-fit: contain;
  transition: max-height 0.25s, height 0.25s, width 0.25s, top 0.25s;
}

.GalleryPreview img:hover {
  max-height: calc(100vh - 64px);
  top: 32px;
}

.GalleryPreview .topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  /* background-color: #000; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;
  box-sizing: border-box;
  color: white;
  transition: background-color 0.25s;
}

.GalleryPreview .topBar .hideUsual {
  color: transparent;
  flex-grow: 10;
  transition: color 0.25s;
  text-align: center;
}

.GalleryPreview img:hover ~ .topBar {
  background-color: #0008;
}

.GalleryPreview img:hover ~ .topBar .hideUsual {
  color: white;
}

.GalleryPreview .topBar button {
  width: 32px;
  height: 32px;
  border: 0;
  background-color: transparent;
  font-family: "Material Symbols Outlined";
  padding: 0;
  margin: 8px;
  font-size: 32px;
  color: white;
  background-color: #0008;
  border-radius: 32px;
  line-height: 24px;
  box-shadow: none;
}

.GalleryPreview .topBar span.fw {
  width: 100%;
}

.GalleryPreview .topBar div {
  width: 48px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin: 8px;
  text-align: center;
  background-color: #0008;
}

.GalleryPreview .bottomSheetHolder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: bottom 0.25s;
}

.GalleryPreview img:hover ~ .bottomSheetHolder {
  bottom: -50vh;
}

.GalleryPreview .bottomSheetHolder .bottomSheet {
  min-width: 50vw;
  color: white;
  background-color: #0008;
  max-width: 75vw;
  overflow: hidden;
  white-space: pre-line;
}

.GalleryPreview .bottomSheetHolder .bottomSheet * {
  width: 100%;
  white-space: pre-wrap;
}

.Gallery button {
  padding: 0 8px;
  border-radius: 4px;
  background-color: var(--bg-color);
  border: 2px solid var(--fg-color);
  box-shadow: 0 0 4px var(--fg-color);
  color: var(--fg-color);
  transition: background-color 0.125s, color 0.125s;
  min-width: max-content;
  height: 32px;
  font-size: 16px;
}

.Gallery button:not(:disabled):hover {
  background-color: #0004;
}

.Gallery button:not(:disabled):active {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

.Gallery button:disabled {
  color: var(--bad-fg-color);
  background-color: var(--bad-bg-color);
  border: 2px solid var(--bad-fg-color);
  box-shadow: 0 0 4px var(--bad-fg-color);
}

.Gallery button.special_disabled:disabled {
  background-color: transparent;
  border: 2px solid var(--fg-color);
  box-shadow: 0 0 4px var(--fg-color);
  color: var(--fg-color);
  opacity: 0.5;
}

@media (max-width: 960px) {
  .Gallery {
    width: calc(100% + 32px);
  }
}
