.LastFmScores {
  width: 100%;
  max-width: 720px;
}

.LastFmScore {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.LastFmScore .title {
  font-size: 32px;
  font-weight: 800;
  width: 100%;
}

.LastFmScore h1 {
  padding: 0;
  margin: 0;
}

.LastFmScore .creationName {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 8px 16px;
  padding: 8px 0;
  box-sizing: border-box;
}

.LastFmScore .artistHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 8px 16px;
  box-sizing: border-box;
}

.LastFmScore .horizcont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}

.LastFmScore .horizcont .grade {
  display: inline-block;
  font-size: 64px;
  font-weight: 1000;
  width: 64px;
  text-align: center;
}

.LastFmScore .horizcont .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.LastFmScore .pfp {
  width: 128px;
  height: 128px;
  border-radius: 16px;
  padding: 16px;
  object-fit: cover;
  border: 2px solid #ffddbb;
  background-color: #402000;
  box-shadow: 0 0 4px #ffddbb;
  box-sizing: border-box;
}

.LastFmScore .artist {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  object-fit: cover;
  background-color: #402000;
  box-sizing: border-box;
}
