.ParallaxElements {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 960px;
  grid-template-rows: 100%;
  overflow-x: auto;
  overflow-x: -moz-scrollbars-none;
  overflow-y: hidden;
  scrollbar-width: none;
  align-items: center;
}

.ParallaxElements::-webkit-scrollbar {
  display: none;
}

.ParallaxElements .coverImage {
  border: none;
  position: relative;
  left: 32px;
  top: 0;
  background-color: #f80;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  max-height: 1080px;
  border: 2px solid #ffddbb;
  box-shadow: 0 0 4px #ffddbb;
  border-radius: 32px;
  z-index: 2;
  overflow: hidden;
  transition: width 0.25s, left 0.25s, height 0.25s, border-radius 0.25s;
}

.ParallaxElements .coverImage .prlx {
  position: absolute;
  width: 200%;
  height: 200%;
  left: -50%;
  top: -50%;
  z-index: 2;
  text-align: center;
  /* background-size: 50%; */
  background-position: 50% 50%;
  background-repeat: repeat;
  /* filter: drop-shadow(0px 0px 16px #0004); */
  /* background-color: black; */
  /* -webkit-transform: translate3d(0,0,1px);
    -webkit-backface-visibility: hidden; */
}

.ParallaxElements .coverImage .description {
  position: absolute;
  width: calc(100% - 32px);
  /* height: calc(20% - 32px); */
  z-index: 3;
  bottom: 16px;
  left: 16px;
  background-color: black;
  color: white;
  border-radius: 20px;
  text-align: left;
}

.ParallaxElements .coverImage .description a {
  color: white;
}

.ParallaxElements .coverImage .prlx.prlx-example {
  width: 200px;
  height: 100px;
}

.ParallaxElements .coverImage .prlx.effectImage {
  width: 200%;
  height: 200%;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.ParallaxElements .coverImage .prlx.titleImage {
  width: 75%;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 12.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.ParallaxElements .coverImage .prlx.heroImage {
  width: 300%;
  left: -100%;
  z-index: 1;
  background-repeat: repeat;
}

@media (max-width: 960px) {
  .ParallaxElements {
    grid-auto-columns: 100vw;
  }
}

@media (max-height: 540px) {
  .ParallaxElements .coverImage {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}
