.Profile {
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: stretch;
  gap: 32px;
  max-width: 700px;
}

.Profile .pfp {
  width: 128px;
  height: 128px;
  border-radius: 16px;
  object-fit: cover;
  border: 2px solid #ffddbb;
  background-color: #402000;
  box-shadow: 0 0 4px #ffddbb;
  box-sizing: border-box;
}

.Profile .secondary {
  width: 100%;
  min-height: 128px;
  padding: 8px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.Profile .secondary .name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 8px 16px;
}

.Profile .secondary .name .title {
  font-size: 40px;
  font-weight: 800;
  width: 100%;
}

.Profile .secondary .name .ipa {
  font-size: 16px;
  font-weight: normal;
}

/* 976 px */

@media (max-width: 976px) {
  .Profile {
    max-width: 688px;
  }
}

@media (max-width: 732px) {
  .Profile {
    flex-direction: column;
  }
  .Profile .secondary {
    align-items: center;
  }
  .Profile .secondary .name {
    justify-content: center;
  }
  .Profile .secondary .name .title {
    text-align: center;
  }
}
