.App {
  width: 100%;
  margin-top: 32px;
  padding: 16px;
  background-color: #800000e0;
  color: #ffbbbb;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}

.App a {
  color: #ffbbbb;
}

.App hr {
  width: 75%;
  margin: 16px auto;
  border-color: #ffbbbb;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.App .centej {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.App.alignLeft {
  align-items: flex-start;
}

.mainContent {
  position: fixed;
  height: 100vh;
  width: 50vw;
  min-width: 960px;
  padding: 0 128px 64px 128px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 10;
  background-color: #0004;
  transition: left 0.25s;
  /* display: none; */
}

.hideButton {
  position: fixed;
  left: 8px;
  top: 8px;
  height: 48px;
  width: 48px;
  padding: 8px;
  border: none;
  background-color: #800000;
  box-shadow: 0 0 16px #0004;
  color: #ffbbbb;
  border-radius: 24px;
}

.hideButton:hover {
  background-color: #700000;
}

/* 976 px */

@media (max-width: 960px) {
  .App {
    margin: 0 auto;
    margin-top: 32px;
    max-width: none;
    width: calc(100% - 32px);
  }

  .mainContent {
    min-width: 0;
    width: 100vw;
    padding: 32px;
    padding-top: 0;
  }
}
