.App {
  max-width: 1000px;
  width: 100%;
  margin-top: 32px;
  padding: 16px;
  background-color: #804000;
  color: #ffddbb;
  border: 2px solid #ffddbb;
  box-shadow: 0 0 4px #ffddbb;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  flex-shrink: 0;
}

.App button {
  padding: 0 8px;
  border-radius: 99999px;
  background-color: transparent;
  border: 2px solid #ffddbb;
  box-shadow: 0 0 4px #ffddbb;
  color: #ffddbb;
  transition: background-color 0.125s, color 0.125s;
  min-width: 32px;
  height: 32px;
  font-size: 16px;
}

.App button:hover {
  background-color: #fdb4;
}

.App button:active {
  color: #804000;
  background-color: #fdb;
}

.App a {
  color: #ffddbb;
}

.App hr {
  width: 75%;
  margin: 16px auto;
  border-color: #ffddbb;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.App .centej {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.App.alignLeft {
  align-items: flex-start;
}

.mainContent {
  position: fixed;
  height: 100vh;
  width: 50vw;
  min-width: 960px;
  padding: 0 128px 32px 128px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  transition: left 0.25s, padding 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
}

.mainContent.full {
  width: 100vw;
}

.mainContent.full .App {
  max-width: 704px;
}

.effectButtons {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 8px;
  top: 8px;
  gap: 8px;
}

.hideButton {
  position: relative;
  top: 0;
  height: 48px;
  width: 48px;
  padding: 8px;
  border: none;
  background-color: #804000;
  box-shadow: 0 0 16px #0004;
  color: #ffddbb;
  border: 2px solid #ffddbb;
  box-shadow: 0 0 4px #ffddbb;
  border-radius: 24px;
  font-size: 16px;
  transition: top 0.25s;
}

.hideButton:hover {
  background-color: #804000;
}

/* 976 px */

@media (max-width: 960px) {
  .App {
    margin: 0 auto;
    margin-top: 32px;
    max-width: none;
    width: calc(100% - 32px);
  }

  .mainContent {
    min-width: 0;
    width: 100vw;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 32px;
  }

  .fullButton {
    top: -64px;
  }
}
