@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;800&display=swap");

* {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  background-color: #000;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#root {
  display: inline-block;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}
