@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;800&display=swap");

* {
  font-family: "Inconsolata", monospace;
}

body {
  font-size: 16px;
  background: #ff7f00;
  background: linear-gradient(0deg, #804000 0%, #ff8000 100%);
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#root {
  display: inline-block;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}
